@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
   text-align: center;
   background-position: center;
   background-size: 1500px;
   background-repeat: no-repeat;
   position: relative;
   color:whitesmoke;
   background-color: #0ea4bb;
   max-width: 100%;
   font-family: 'Roboto', sans-serif;
}

.title{
  position: relative;
  bottom: 1200px;
}

.header {
    padding: 0 10px;
    margin-bottom: 30px;
  }

  .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #306475;
    border-radius: 4px;
    max-width: 600px;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

form{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-flow: column wrap;
}

.inputs-comun{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.labels{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-self: start;
}

.inputs{
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none; 
  padding-left: 10px;
}

.inputs::placeholder{
  opacity: 0.7;
  font-family: 'Roboto';
}

select{
  width: 100%;
  height: 30px;
  border-radius: 4px;
  outline: none;
  color: rgb(175, 169, 169);
  padding-left: 5px;
  font-family: 'Roboto';
  max-width: 600px;
}

.inputs-radio{
  display: flex;
  flex-direction: column;
}

.radio{
  position: relative;
  bottom: 19px;
  left: 90px;
}

.checkbox-uno{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  top: 25px;
  right: 110px;
}

.checkbox-dos{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  bottom: 280px;
  left: 80px;
  margin-bottom: -250px;
}

.label-checkbox-uno{
  position: relative;
  bottom: 19px;
  left: 30px
}

.label-checkbox-dos{
  position: relative;
  left: 80px;
  bottom: 18px
}

textarea::placeholder{
  opacity: 0.7;
  font-family: 'Roboto';
  padding: 12px 20px 
}

button{
  width: 100%;
  max-width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: teal;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

@media(max-width: 650px){
  .box{
    max-width: 400px;
  }
  
  .checkbox-dos{
    position: relative;
    left: 100px;
  }

  .checkbox-uno{
    position: relative;
    right: 130px;
  }

textarea{
  width: 100%;
  max-width: 350px;
 }
}

@media(max-width: 430px){
  .box{
    max-width: 300px;
  }
  textarea{
    max-width: 250px;
  }
  .checkbox-uno{
    right: 100px;
  }
  .checkbox-dos{
    left: 70px;
  }
}